.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #e7413a;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  color: white;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px;
  color: #222222;
  transition: all 0.3s ease;
}


